COMPOSE_PROJECT_NAME=piper
COMPOSE_DOMAIN=piper.local.itkdev.dk

API_KEY=CHANGE_ME
CUDA_ENABLED=false

DEFAULT_LANGUAGE="da"
VOICES='[{"id":"niels","name":"Niels","description":"Neutral, professional, and clear","path":"./voices/da_DK-talesyntese-medium.onnx","language":"da"},{"id":"alan","name":"Alan","description":"Warm, friendly, and engaging","path":"./voices/en_GB-alan-medium.onnx","language":"gb"},{"id":"amy","name":"Amy","description":"Energetic, expressive, and engaging","path":"./voices/en_US-amy-medium.onnx","language":"en"},{"id":"astrid","name":"Astrid","description":"Energetic, expressive, and engaging","path":"./voices/sv_SE-nst-medium.onnx","language":"se"}]'
